<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         bootstrap="tests/bootstrap.php"
         colors="true"
         cacheDirectory=".phpunit.cache"
         failOnWarning="true"
         failOnRisky="true">
    <testsuites>
        <!-- Runs anywhere, talks to nothing. -->
        <testsuite name="unit">
            <directory>tests</directory>
            <exclude>tests/Integration</exclude>
        </testsuite>
        <!-- Needs a panel: see tests/Integration/LiveLifecycleTest.php. -->
        <testsuite name="integration">
            <directory>tests/Integration</directory>
        </testsuite>
    </testsuites>
</phpunit>
